extends index.pug

block page
  //include ./templates/layouts/_create-item
  //include ./templates/layouts/_structure-add-collaborator
  //include ./templates/layouts/_structure-add-location
  //include ./templates/layouts/_new-inventory
  //include ./templates/layouts/_add-task
  //include ./templates/layouts/_pop-ap-congratulations
  include ./templates/layouts/_modal-item
  include ./templates/layouts/_help-question
