extends index.pug

block page
  .wrap-page
    div.h-100.pad-0
      .wrap-inventory.w-100prc
        include ./templates/layouts/_left-meny
        .wrap-inventory-content
          include ./templates/layouts/_top-header
          .page-content
            //include ./templates/layouts/_second-header-easy
            //include ./templates/layouts/_second-header-easy-button
            //include ./templates/layouts/_second-header-difficult
            //include ./templates/layouts/_second-header-round-graffic
            include ./templates/layouts/_second-header-big-img
            //include ./templates/layouts/_second-header-item
            //include templates/layouts/_second-header-colaborator
            //include ./templates/layouts/_structure
            //include ./templates/layouts/_structure-colaborator
            //include ./templates/layouts/_items
            //include ./templates/layouts/_one-inventory
            //include ./templates/layouts/_barcode-scanner
            //include ./templates/layouts/_planning
            //include ./templates/layouts/_notification
            //include ./templates/layouts/_search
            ////include ./templates/layouts/_account
            //include ./templates/layouts/_account-change-email
            //include ./templates/layouts/_account-change-password
            //include ./templates/layouts/_account-plaiment-details
            include ./templates/layouts/_account-help
            //include ./templates/layouts/_page-thank-registration
            //include ./templates/layouts/_page-no-items
            //include ./templates/layouts/_page-no-locations
            //include ./templates/layouts/_items-page

