extends index.pug

block page
  .wrap-page
      .wrap-inventory.w-100prc
        include ./templates/layouts/_left-meny
        .wrap-inventory-content
          include ./templates/layouts/_top-header
            .page-content
              //include ./templates/layouts/_second-header-easy
              //include ./templates/layouts/_second-header-easy-button
              //include ./templates/layouts/_second-header-difficult
              //include ./templates/layouts/_second-header-round-graffic
