.wrap-inventory-block.wrap-inventory-block--account
  .wrap-top-row-one-inventory
    ul.list-table
      li
        a
          .text-list Items
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Departments
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Collaborators
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Inventories
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Directories
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Notifiacation
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Tasks
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list History
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
    .block-one-invectory-right.pad-0
      .table-head-account
        .wrap-account-header-left
          a(href='#')
            img(src="/images/vg.jpg" class="account-avatar" alt="account-avatar")
          .wrap-account-content
            span.text-gray.p-b-10 Profile Photo
            .wrap-btn-row.p-b-10
              button.btn.btn-inventor.btn-white
                svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
                span.title-header-btn.p-l-10 Change
              button.btn.btn-inventor.btn-white
                svg.svg-cart: use(xlink:href="/images/sprite.svg#cart-trash")
                span.title-header-btn.p-l-10  Delete
            span.text-gray JPG or PNG. Maximum size 10MB.
        .wrap-account-header-right
          button.wrap-row.wrap-row-hov
            svg.svg-cart-red: use(xlink:href="/images/sprite.svg#cart-trash")
            span.text-red.m-l-10 Customize columns
          .wrap-account-content-left
            span.text-gray.ta-r.p-b-5 User Group: Administrators
            span.text-gray.ta-r.p-b-5 Date of Registration: 09/08/2016
            span.text-gray.ta-r Last update: 16/02/2017
      .account-body.container.account-body--fix
        .row
          label.col-2.list-text Password
          .col-10
            input.form-control.form-control-sm(type='password')
        .row
          label.col-2.list-text New Password
          .col-10
            input.form-control.form-control-sm(type='text', placeholder='New password')
        .row
          label.col-2.list-text Repeat Password
          .col-10
            input.form-control.form-control-sm(type='text', placeholder='Repeat password')


      button.style-btn-non.button-foot.text-white Save Changes















