.wrap-inventory-block
  .wrap-top-row-one-inventory
    ul.list-table
      li
        a
          .text-list Items
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Departments
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Collaborators
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Inventories
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Directories
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Notifiacation
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Tasks
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list History
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
    .block-list-none-table
      .scroll-block
        .list-none-table-block
          .title-string
            h3.title-list Getiing started
          .text-string.show
            .df-sb.w-100
              span.text-list How do I connect item and location?
              button.wrap-row.wrap-row-hov
                svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")

            .marker-string
              span.text-list In or Out entry is connection between item and location. By adding In or Out entry you place item into location or take item out of location. By adding In entry you put item into location. With Out entry you take item out of location. Move between locations is done automatically by adding In entry and then Out entry for particular location.

          .text-string.show
            .df-sb.w-100
              span.text-list How do I connect item and location?
              button.wrap-row.wrap-row-hov
                svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")

            .marker-string
              span.text-list In or Out entry is connection between item and location. By adding In or Out entry you place item into location or take item out of location. By adding In entry you put item into location. With Out entry you take item out of location. Move between locations is done automatically by adding In entry and then Out entry for particular location.

          .text-string.show
            .df-sb.w-100
              span.text-list How do I connect item and location?
              button.wrap-row.wrap-row-hov
                svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")

            .marker-string
              span.text-list In or Out entry is connection between item and location. By adding In or Out entry you place item into location or take item out of location. By adding In entry you put item into location. With Out entry you take item out of location. Move between locations is done automatically by adding In entry and then Out entry for particular location.

        .list-none-table-block
          .title-string
            h3.title-list Administratios
          .text-string
            span.text-list How do I create item?
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")
          .text-string
            span.text-list How do I create location?
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")
          .text-string
            span.text-list How do I connect item and location?
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")
        .list-none-table-block
          .title-string
            h3.title-list Administratios
          .text-string
            span.text-list How do I create item?
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")
          .text-string
            span.text-list How do I create location?
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")
          .text-string
            span.text-list How do I connect item and location?
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")
      .ta-r.p-t-25
        button.btn.btn-inventor.btn-lime
          img(src="/images/que.svg" class="header-plus" alt="pensil")
          span.title-header-btn Ask a question
















