.wrap-inventory-block.wrap-inventory-block--account
  .wrap-top-row-one-inventory
    ul.list-table
      li
        a
          .text-list Items
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Departments
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Collaborators
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Inventories
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Directories
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Notifiacation
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Tasks
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list History
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
    .block-one-invectory-right.pad-0
      .table-head-account
        .wrap-account-header-left
          a(href='#')
            img(src="/images/vg.jpg" class="account-avatar" alt="account-avatar")
          .wrap-account-content
            span.text-gray.p-b-10 Profile Photo
            .wrap-btn-row.p-b-10
              button.btn.btn-inventor.btn-white.m-r-5
                svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
                span.title-header-btn.p-l-10 Change
              button.btn.btn-inventor.btn-white
                svg.svg-cart: use(xlink:href="/images/sprite.svg#cart-trash")
                span.title-header-btn.p-l-10  Delete
            span.text-gray JPG or PNG. Maximum size 10MB.
        .wrap-account-header-right
          button.wrap-row.wrap-row-hov
            svg.svg-cart-red: use(xlink:href="/images/sprite.svg#cart-trash")
            span.text-red.m-l-10 Customize columns
          .wrap-account-content-left
            span.text-gray.ta-r.p-b-5 User Group: Administrators
            span.text-gray.ta-r.p-b-5 Date of Registration: 09/08/2016
            span.text-gray.ta-r Last update: 16/02/2017
      .account-body.container
        .row.mb-10
          label.col-2.list-text Full Name
          .col-10
            input.form-control.form-control-sm(type='text', placeholder='Enter')
        .row.mb-10
          label.col-2.list-text Location
          .col-10
            input.form-control.form-control-sm(type='text', placeholder='Enter')
        .row.mb-10
          label.col-2.list-text Phone
          .col-10
            input.form-control.form-control-sm(type='text', placeholder='Enter')
        .row.mb-10
          label.col-2.list-text Company Name
          .col-10
            input.form-control.form-control-sm(type='text', placeholder='Enter')
        .row.mb-10
          label.col-2.list-text Position
          .col-10
            input.form-control.form-control-sm(type='text', placeholder='Enter')
        .row.mb-10
          label.col-2.list-text Time Zone
          .col-5
            select.form-control.form-control-sm
              option Select
              option Контора Никанора
              option Шарашкина контора
              option Контора "Рога и Копыта"
        .row.mb-10
          label.col-2.list-text Date Format
          .col-5
            select.form-control.form-control-sm
              option Select
              option Контора Никанора
              option Шарашкина контора
              option Контора "Рога и Копыта"

        .row.mb-10
          label.col-2.list-text Position
          .col-1.df-sb
            .wrap-account-btn
              button.style-btn-non.btn-radio-account Light
              button.style-btn-non.btn-radio-account.active Dark
      .account-checkbox-block.container
        .row.mb-10
          .col-1
            input(type='checkbox').checkbx-number
          span.col.text-black.pad-0 System Notifications
            span.text-gray Get notifications when changes happen in your account.
        .row.mb-10
          .col-1
            input(type='checkbox').checkbx-number
          span.col.text-black.pad-0  Push Notifications
            span.text-gray Enable push for your planning actions.
        .row.mb-10
          .col-1
            input(type='checkbox').checkbx-number
          span.col.text-black.pad-0  Newsletter
            span.text-gray Get updates on new features activated for your account.
      button.style-btn-non.button-foot.text-white Save Changes















