.wrap-inventory-block.wrap-inventory-block--notif.container-fluid
  //.row.planning-row-h
  .row
    .col-8
      table.table-inventor.table-inventor--item.m-b-20
        thead
          tr
            th(scope='col').posr
              span.text-list Item Name

            th(scope='col')
              span.text-list iMac


        tbody
          tr
            td Barcode
            td 49857392038539

          tr
            td Serial Number
            td MR-3228742663ic


          tr
            td Description
            td
              pre.
                27" Retina 5K IPS Display
                5120 x 2880 Screen Resolution
                4.0 GHz Intel Core i7 (Skylake)
                8GB of 1867 MHz DDR3 RAM
                512GB Flash Storage
                AMD Radeon R9 M395X GPU (4GB GDDR5)
                802.11ac Wi-Fi, Bluetooth 4.0
                Thunderbolt 2 + USB 3.0
                Magic Keyboard & Magic Mouse 2 Included
                Mac OS X El Capitan or macOS Sierra

          tr
            td Location
            td 2nd Floor

          tr
            td Collaborator
            td Dylan Gregory

          tr
            td Status
            td in using

          tr
            td Total Count
            td 1

          tr
            td Comment
            td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et feugiat nisi. Integer lobortis dolor sit amet felis volutpat lacinia. Nulla semper egestas aliquet. Fusce ut ultrices erat. Curabitur iaculis, ligula nec tristique feugiat, nisl arcu posuere ante, eget accumsan diam lacus vitae nisl.

          tr
            td Date of Registration
            td 12/08/2016

          tr
            td Manufacturer
            td Apple Inc.

    .col-4
      .wrap-slaider.mb-25
      .block-white-default.m-b-20
        .block-white-header
          span.title-mk Extra item
          img(src="/images/box-lime.svg" class="box" alt="box")
        //.block-white-defoult-inside.ff-row--end.p-b-10
        .block-white-body
          .w-100
            .d-flex.p-b-5
              .w-40
                span.custom-text Inventory:
              div
                span.custom-text 2nd floor inventory
            .d-flex.p-b-5
              .w-40
                span.custom-text Date:
              div
                span.custom-text 25/09/2018
            .d-flex
              .w-40
                span.custom-text Comment:
              div
                span.custom-text The item had been lost.
          button.btn.btn-inventor.btn-white
            img(src="/images/bird.svg" class="header-plus" alt="cancel")
            span.title-header-btn.text-list Solve
      .block-white-default.m-b-20
        .block-white-header
          span.title-mk Missing item
          img(src="/images/box-red.svg" class="box" alt="box")
        //.block-white-defoult-inside.ff-row--end.p-b-10
        .block-white-body
          .w-100
            .d-flex.p-b-5
              .w-40
                span.custom-text Inventory:
              div
                span.custom-text 2nd floor inventory
            .d-flex.p-b-5
              .w-40
                span.custom-text Date:
              div
                span.custom-text 25/09/2018
            .d-flex
              .w-40
                span.custom-text Comment:
              div
                span.custom-text The item had been lost.
          button.btn.btn-inventor.btn-white
            img(src="/images/bird.svg" class="header-plus" alt="cancel")
            span.title-header-btn.text-list Solve


//.wrap-inventory-block.wrap-inventory-block--item.container-fluid
//  .row.planning-row-h
//    .col-8
//      table.table-inventor.table-inventor--item.m-b-20
//        thead
//          tr
//            th(scope='col').posr
//              span.text-list Item Name
//
//            th(scope='col')
//              span.text-list iMac
//
//
//        tbody
//          tr
//            td Barcode
//            td 49857392038539
//
//          tr
//            td Serial Number
//            td MR-3228742663ic
//
//
//          tr
//            td Description
//            td
//              pre.
//                27" Retina 5K IPS Display
//                5120 x 2880 Screen Resolution
//                4.0 GHz Intel Core i7 (Skylake)
//                8GB of 1867 MHz DDR3 RAM
//                512GB Flash Storage
//                AMD Radeon R9 M395X GPU (4GB GDDR5)
//                802.11ac Wi-Fi, Bluetooth 4.0
//                Thunderbolt 2 + USB 3.0
//                Magic Keyboard & Magic Mouse 2 Included
//                Mac OS X El Capitan or macOS Sierra
//
//          tr
//            td Location
//            td 2nd Floor
//
//          tr
//            td Collaborator
//            td Dylan Gregory
//
//          tr
//            td Status
//            td in using
//
//          tr
//            td Total Count
//            td 1
//
//          tr
//            td Comment
//            td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et feugiat nisi. Integer lobortis dolor sit amet felis volutpat lacinia. Nulla semper egestas aliquet. Fusce ut ultrices erat. Curabitur iaculis, ligula nec tristique feugiat, nisl arcu posuere ante, eget accumsan diam lacus vitae nisl.
//
//          tr
//            td Date of Registration
//            td 12/08/2016
//
//          tr
//            td Manufacturer
//            td Apple Inc.
//
//    .col-4
//      .block-white-default.p-b-20
//        .block-white-header
//          span.title-mk.line-h-2 Problems history
//          button.style-btn-non
//            img(src="/images/big-delete.svg" class="big-delete" alt="box")
//        .scroll-block.p-r-10.m-r-5
//          .block-white-default-inside
//            .w-100.df-sb.p-b-5
//              .col-3.p-l-0
//                span.text-list 16/01/2018
//              .col-7
//                span.text-list 1nd floor inventory
//              .col-2.p-r-0.ta-r
//                img(src="/images/box-lime.svg" class="box" alt="box")
//            .d-flex.p-b-20
//              span.text-list.bold.p-r-5 Anton Kolesnikov
//              span.text-list added a comment
//            .d-flex.p-b-5
//              img(src="/images/message.svg" class="message-icon" alt="box").p-r-10
//              span.text-list The item had been found on the 3th floor.
//
//          .block-white-default-inside
//            .w-100.df-sb.p-b-5
//              .col-3.p-l-0
//                span.text-list 16/01/2018
//              .col-7
//                span.text-list 1nd floor inventory
//              .col-2.p-r-0.ta-r
//                img(src="/images/box-red.svg" class="box" alt="box")
//            .d-flex.p-b-20
//              span.text-list.bold.p-r-5 Anton Kolesnikov
//              span.text-list added a comment
//            .d-flex.p-b-5
//              img(src="/images/message.svg" class="message-icon" alt="box").p-r-10
//              span.text-list The item had been found on the 3th floor.
//
//          .block-white-default-inside
//            .w-100.df-sb.p-b-5
//              .col-3.p-l-0
//                span.text-list 16/01/2018
//              .col-7
//                span.text-list 1nd floor inventory
//              .col-2.p-r-0.ta-r
//                img(src="/images/box-lime.svg" class="box" alt="box")
//            .d-flex.p-b-20
//              span.text-list.bold.p-r-5 Anton Kolesnikov
//              span.text-list added a comment
//            .d-flex.p-b-5
//              img(src="/images/message.svg" class="message-icon" alt="box").p-r-10
//              span.text-list The item had been found on the 3th floor.
//
//          .block-white-default-inside
//            .w-100.df-sb.p-b-5
//              .col-3.p-l-0
//                span.text-list 16/01/2018
//              .col-7
//                span.text-list 1nd floor inventory
//              .col-2.p-r-0.ta-r
//                img(src="/images/box-red.svg" class="box" alt="box")
//            .d-flex.p-b-20
//              span.text-list.bold.p-r-5 Anton Kolesnikov
//              span.text-list added a comment
//            .d-flex.p-b-5
//              img(src="/images/message.svg" class="message-icon" alt="box").p-r-10
//              span.text-list The item had been found on the 3th floor.
//
//          .block-white-default-inside
//            .w-100.df-sb.p-b-5
//              .col-3.p-l-0
//                span.text-list 16/01/2018
//              .col-7
//                span.text-list 1nd floor inventory
//              .col-2.p-r-0.ta-r
//                img(src="/images/box-lime.svg" class="box" alt="box")
//            .d-flex.p-b-20
//              span.text-list.bold.p-r-5 Anton Kolesnikov
//              span.text-list added a comment
//            .d-flex.p-b-5
//              img(src="/images/message.svg" class="message-icon" alt="box").p-r-10
//              span.text-list The item had been found on the 3th floor.
//
//          .block-white-default-inside
//            .w-100.df-sb.p-b-5
//              .col-3.p-l-0
//                span.text-list 16/01/2018
//              .col-7
//                span.text-list 1nd floor inventory
//              .col-2.p-r-0.ta-r
//                img(src="/images/box-red.svg" class="box" alt="box")
//            .d-flex.p-b-20
//              span.text-list.bold.p-r-5 Anton Kolesnikov
//              span.text-list added a comment
//            .d-flex.p-b-5
//              img(src="/images/message.svg" class="message-icon" alt="box").p-r-10
//              span.text-list The item had been found on the 3th floor.
//
//
//


















