.wrap-left-menu
  .left-menu-wrap-title
    .left-menu-title-icon
      .left-menu-items-icon-wrapper
        img(src="/images/menu-icon.svg" class="left-menu-title-icon-inside" alt="logo-icon")
    .left-menu-title-text
      a(href='#')
        img(src="/images/logo-white.svg" class="left-menu-title-text-inside" alt="logo")
  a(href='#').left-menu-items.color-main
    .left-menu-items-icon
      .left-menu-items-icon-wrapper
        img(src="/images/icon-5.svg" class="left-menu-title-icon-inside" alt="list-icon")
    .left-menu-items-text
      .left-menu-items-text-wrapper.font-default Dashboard
  a(href='#').left-menu-items.color-main
    .left-menu-items-icon
      .left-menu-items-icon-wrapper
        img(src="/images/icon-test.png" class="left-menu-title-icon-inside" alt="list-icon")
    .left-menu-items-text
      .left-menu-items-text-wrapper.font-default Structure
  a(href='#').left-menu-items.color-main
    .left-menu-items-icon
      .left-menu-items-icon-wrapper
        img(src="/images/icon-7.svg" class="left-menu-title-icon-inside" alt="list-icon")
    .left-menu-items-text
      .left-menu-items-text-wrapper.font-default Items
  a(href='#').left-menu-items.color-main
    .left-menu-items-icon
      .left-menu-items-icon-wrapper
        img(src="/images/icon-2.svg" class="left-menu-title-icon-inside" alt="list-icon")
    .left-menu-items-text
      .left-menu-items-text-wrapper.font-default Inventory
  a(href='#').left-menu-items.color-main
    .left-menu-items-icon
      .left-menu-items-icon-wrapper
        img(src="/images/icon-3.svg" class="left-menu-title-icon-inside" alt="list-icon")
    .left-menu-items-text
      .left-menu-items-text-wrapper.font-default Reports
  a(href='#').left-menu-items.color-main
    .left-menu-items-icon
      .left-menu-items-icon-wrapper
        img(src="/images/fill-1.svg" class="left-menu-title-icon-inside" alt="list-icon")
    .left-menu-items-text
      .left-menu-items-text-wrapper.font-default Planning
  a(href='#').left-menu-items.color-main
    .left-menu-items-icon
      .left-menu-items-icon-wrapper
        img(src="/images/icon-6.svg" class="left-menu-title-icon-inside" alt="list-icon")
    .left-menu-items-text
      .left-menu-items-text-wrapper.font-default Barcode Scanner
  a(href='#').left-menu-items.color-main
    .left-menu-items-icon
      .left-menu-items-icon-wrapper
        img(src="/images/icon-4.svg" class="left-menu-title-icon-inside" alt="list-icon")
    .left-menu-items-text
      .left-menu-items-text-wrapper.font-default Admin Panel







