.wrap-login
  .container.-wide.container.h-100
    .row.h-100
      .col.fl-column-c
        .wrap-login-logo
          img(src="/images/logo-login.png" class="logo-login" alt="logo-login")
        form.form.fg-w
          div.form-group.ma-w-log.w-100
            .wrap-title-login
              p.title-login New password
          div.form-group.mb-inp
            input#pw.form-control(type='password' name='password' placeholder='New password')
            img(src="/images/eye.png" class="eays-login" alt="eays-login")
            //span.error * Пожалуйста введите валидный пароль
          div.form-group.mb-inp
            input#pw.form-control(type='password' name='password' placeholder='Repeat password')
            img(src="/images/eye.png" class="eays-login" alt="eays-login")
            //span.error * Пожалуйста введите валидный пароль
          div.form-group
            button.btn.btn-login.mt-btn-log.w-100 Restore password



