.wrap-login
  .container.-wide.container.h-100
    .row.h-100
      .col.fl-column-c
        .wrap-login-logo
          img(src="/images/logo-login.png" class="logo-login" alt="logo-login")
        form.form.fg-w
          div.form-group.ma-w-log.w-100
            .wrap-title-login
              p.title-login Password recovery
          div.form-group.mb-inp
            input#email.form-control(type='email' name='email' placeholder='Email')
            //span.error * Пожалуйста введите валидный email
          div.form-group
            button.btn.btn-login.mt-btn-log.w-100 Send
          div.form-group.m-b-0
            div.wrap-text-login
              a(href="#").login-text Back to Sign in

