.wrap-modal
  .modal-content-inventor.modal-content-inventor--small
    .modal-header-inventor
      span.modal-title-inventor Anton Kolesnikov
    .modal-body-inventor.container
      .row.mb-10
        label.col-3.list-text Comment
        .col-9
          textarea.form-control.form-control-sm.textar-h(type='text', placeholder='The item had been lost.')
    .modal-footer-inventor
      button.btn.btn-inventor.btn-white
        img(src="/images/cancel.svg" class="header-plus" alt="cancel")
        span.title-header-btn Cancel
      button.btn.btn-inventor.btn-lime.btn-one
        span.title-header-btn Solve

