.wrap-modal
  .modal-content-inventor.modal-content-inventor--small
    .modal-header-inventor
      span.modal-title-inventor.modal-title-inventor--red There is no Location or Item!
    .modal-body-inventor
      p.modal-small-text
        | To create an inventory, you must create at least one
        span Location
        |  or
        span Item
    .modal-footer-inventor
      button.btn.btn-inventor.btn-white
        svg.m-r-10.svg-arrow-r: use(xlink:href="/images/sprite.svg#arrow-r")
        span.title-header-btn Continue
