.wrap-inventory-block.wrap-inventory-block--notif.container-fluid
  .row.planning-row-h
    .col-9
      .wrap-top-row-colaborator.posr
        .wrap-df.posr
          button.style-btn-non
            svg.svg-reload: use(xlink:href="/images/sprite.svg#reload")
          button.btn.btn-inventor.btn-white
            //img(src="/images/page.svg" alt="page").m-r-10
            svg.svg-add-dark: use(xlink:href="/images/sprite.svg#add")
            span.title-header-btn.m-r-10.m-l-10 Add Notification
          button.btn.btn-inventor.btn-white
            //img(src="/images/page.svg" alt="page").m-r-10
            svg.svg-bookmark: use(xlink:href="/images/sprite.svg#list")
            span.title-header-btn.m-r-10.m-l-10 Action
            svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#down-arrow")
        .wrap-main-tooltip.posr
          button.wrap-row.wrap-row-hov
            svg.svg-gear: use(xlink:href="/images/sprite.svg#gear-new").m-r-10
            //img(src="/images/gear.png" class="gear" alt="gear-icon").m-r-10
            span.custom-text Customize columns
          .tooltip-items
            .tooltip-items-header
              .tooltip-items-header-title Show columns
              .tooltip-items-header-close
                span.m-r-10 Close
                button.style-btn-non
                  svg.svg-cancel: use(xlink:href="/images/sprite.svg#delete")
            .tooltip-items-content
              ul
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Name
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Barcode
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Serial Number
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Place
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Department
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Collaborator
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Status
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Total count
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Date
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")


      table.table-inventor.table-head-notification
        thead.table-head
          tr

            th(scope='col').posr.
               General Inventory

            th(scope='col').posr.
               Inventory (general)

            th(scope='col').posr.
               27/09/2222

            th(scope='col').posr
              .df-sb 15:30
                svg.svg-points: use(xlink:href="/images/sprite.svg#points")

        tbody
          tr

            td General Inventory
            td Inventory (general)
            td 27/09/2222
            td.df-sb 15:30
              svg.svg-points: use(xlink:href="/images/sprite.svg#points")

          tr

            td General Inventory
            td Inventory (general)
            td 27/09/2222
            td.df-sb 15:30
              svg.svg-points: use(xlink:href="/images/sprite.svg#points")


          tr

            td General Inventory
            td Inventory (general)
            td 12/07/2018
            td.df-sb 15:30
              svg.svg-points: use(xlink:href="/images/sprite.svg#points")


          tr

            td General Inventory
            td Inventory (general)
            td 12/07/2018
            td.df-sb 15:30
              svg.svg-points: use(xlink:href="/images/sprite.svg#points")


          tr

            td General Inventory
            td Inventory (general)
            td 12/07/2010
            td.df-sb 15:30
              svg.svg-points: use(xlink:href="/images/sprite.svg#points")

          tr

            td General Inventory
            td Inventory (general)
            td 12/07/2015
            td.df-sb 15:30
              svg.svg-points: use(xlink:href="/images/sprite.svg#points")


        tfoot.table-foot
          tr
            td(colspan='2') Displaying 1 to 20 of 235 collaborators
            td(colspan='2')
              //.wrap-pagination
              .ta-r
                button.colaborator-pagination-round-btn.m-r-5
                  img(src="/images//left-arrow.svg" class="left-arrow" alt="left")
                span.header-text.m-r-5 Page
                input(type='text',placeholder='1').colaborator-pagination-white-window.m-r-5
                span.header-text.m-r-5 of 4
                button.colaborator-pagination-round-btn
                  img(src="/images//right-arrow.svg" class="right-arrow" alt="right")

    .col-3
      .wrap-calendar.mb-25
      .wrap-planning-list
        .wrap-planning-list-header
          span.wrap-planning-list-header-title.p-r-20.bord-r  Tasks
          .wrap-planning-list-header-date.p-l-20
            span.wrap-planning-list-header-date-number.p-r-5 13
            .wrap-planning-list-header-date-day
              span.wrap-planning-list-header-date-day-top Mon
              span.wrap-planning-list-header-date-day-bottom May
        .wrap-planning-list-body
          ul.planning-list.posr
            li.planning-list-item
              .planning-list-marker.m-r-10
              .planning-list-date.p-r-10 09:00
              .text-gray Service maintenance
            li.planning-list-item
              .planning-list-marker.m-r-10
              .planning-list-date.p-r-10 09:00
              .text-gray Inventory (Android)
            li.planning-list-item
              .planning-list-marker.m-r-10
              .planning-list-date.p-r-10 09:00
              .text-gray Write-off of Items
            li.planning-list-item
              .planning-list-marker.m-r-10
              .planning-list-date.p-r-10 09:00
              .text-gray Inventory (Tables)











