.wrap-page-letter.wrap-page-letter--no-location
  .page-letter-block
    .page-letter-block-box-img
      img(src="/images/lamp-table.png" class="page-letter-block-img" alt="barcode")
    h1.header-title.title-pb No locations yet
    .button-centr
      button.btn.btn-inventor.btn-lime
        img(src="/images/plus.svg" class="header-plus" alt="plus")
        span.title-header-btn Create location
