.wrap-page-letter
  .page-letter-block
    .page-letter-block-box-img
      img(src="/images/barcode.png" class="page-letter-block-img" alt="barcode")
    h1.header-title.title-pb Thank you for registration!
    .button-centr
      button.btn.btn-inventor.btn-lime
        span.title-header-btn Go to create your first location
    .block-psevdoelement
      span.psevdoelement or
    div
      a(href='#').text-lime Check out our Help Center


