.wrap-inventory-block.wrap-inventory-block--notif.container-fluid
  .row.planning-row-h
    .col-9
      .wrap-top-row-colaborator.posr
        .wrap-df.posr
          input(type='text',placeholder='Searsh...').input-inventory.m-r-10
          img(src="/images/small-lupe.svg" class="lupe-abs" alt="page")
          button.btn.btn-inventor.btn-lime
            //img(src="/images/page.svg" alt="page").m-r-10
            svg.svg-white-plus: use(xlink:href="/images/sprite.svg#add")
            span.title-header-btn.m-r-10.m-l-10 New task
        .wrap-main-tooltip.posr
          button.wrap-row.wrap-row-hov
            svg.svg-gear: use(xlink:href="/images/sprite.svg#gear-new").m-r-10
            //img(src="/images/gear.png" class="gear" alt="gear-icon").m-r-10
            span.custom-text Customize columns
          .tooltip-items
            .tooltip-items-header
              .tooltip-items-header-title Show columns
              .tooltip-items-header-close
                span.m-r-10 Close
                button.style-btn-non
                  svg.svg-cancel: use(xlink:href="/images/sprite.svg#delete")
            .tooltip-items-content
              ul
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Name
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Barcode
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Serial Number
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Place
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Department
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Collaborator
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Status
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Total count
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")
                li
                  .tooltip-items-content-list-left
                    .tooltip-items-content-list-round.m-r-10
                    .tooltip-items-content-list-title Date
                  button.style-btn-non.tooltip-items-content-list-burger
                    img(src="/images/burger.svg" alt="burger")


      table.table-inventor.table-head-planning
             thead.table-head
               tr
                 th(scope='col')
                   input(type='checkbox').checkbx-number
                 th(scope='col').posr
                   button.style-btn-table Title
                     img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
                 th(scope='col').posr
                   button.style-btn-table Description
                     img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
                 th(scope='col').posr
                   button.style-btn-table Date
                     img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
                 th(scope='col').posr
                   button.style-btn-table Deadline
                     img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
                 th(scope='col').posr
                   button.style-btn-table Status
                     img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
                 th(scope='col').posr
                   button.style-btn-table Inventory
                     img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
                 th(scope='col').posr
                   button.style-btn-table Assignee
                     img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
                 th(scope='col') Actions
             tbody
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 13/04/2018 at 09:00
                 td 12/07/2018
                 td Done
                 td Archiv items
                 td Sergo
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Mario
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Olivia
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")

               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Varvara
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Condrat
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td To do
                 td Archiv items
                 td Luis
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Izaura
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")

               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Nicola
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Nicola
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Nicola
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")
               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Nicola
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")

               tr
                 th(scope='row')
                   input(type='checkbox').checkbx-number
                 td Rubber doll
                 td 12345678
                 td 12/07/2018 at 09:00
                 td 12/07/2018
                 td In progress
                 td Archiv items
                 td Nicola
                 td
                   button.style-btn-non
                     svg.svg-pen: use(xlink:href="/images/sprite.svg#pen-new")

             tfoot.table-foot
               tr
                 td(colspan='6') Displaying 1 to 20 of 235 collaborators
                 td(colspan='3')
                   //.wrap-pagination
                   .ta-r
                     button.colaborator-pagination-round-btn
                       img(src="/images//left-arrow.svg" class="left-arrow" alt="left")
                     span.header-text Page
                     input(type='text',placeholder='1').colaborator-pagination-white-window.m-r-5
                     span.header-text of 4
                     button.colaborator-pagination-round-btn
                       img(src="/images//right-arrow.svg" class="right-arrow" alt="right")

    .col-3
      .wrap-calendar.mb-25
      .wrap-planning-list
        .wrap-planning-list-header
          span.wrap-planning-list-header-title.p-r-20.bord-r  Tasks
          .wrap-planning-list-header-date.p-l-20
            span.wrap-planning-list-header-date-number.p-r-5 13
            .wrap-planning-list-header-date-day
              span.wrap-planning-list-header-date-day-top Mon
              span.wrap-planning-list-header-date-day-bottom May
        .wrap-planning-list-body
          //.wrap-planning-list-body-scroll
          ul.planning-list.posr
            li.planning-list-item
              .planning-list-marker.m-r-10
              .planning-list-date.p-r-10 09:00
              .text-gray Service maintenance
            li.planning-list-item
              .planning-list-marker.m-r-10
              .planning-list-date.p-r-10 09:00
              .text-gray Inventory (Android)
            li.planning-list-item
              .planning-list-marker.m-r-10
              .planning-list-date.p-r-10 09:00
              .text-gray Write-off of Items
            li.planning-list-item
              .planning-list-marker.m-r-10
              .planning-list-date.p-r-10 09:00
              .text-gray Inventory (Tables)


            //li.planning-list-item
            //  .planning-list-marker.m-r-10
            //  .planning-list-date.p-r-10 09:00
            //  .text-gray Inventory (Android)
            //li.planning-list-item
            //  .planning-list-marker.m-r-10
            //  .planning-list-date.p-r-10 09:00
            //  .text-gray Write-off of Items
            //li.planning-list-item
            //  .planning-list-marker.m-r-10
            //  .planning-list-date.p-r-10 09:00
            //  .text-gray Inventory (Tables)
            //li.planning-list-item
            //  .planning-list-marker.m-r-10
            //  .planning-list-date.p-r-10 09:00
            //  .text-gray Inventory (Android)
            //li.planning-list-item
            //  .planning-list-marker.m-r-10
            //  .planning-list-date.p-r-10 09:00
            //  .text-gray Write-off of Items
            //li.planning-list-item
            //  .planning-list-marker.m-r-10
            //  .planning-list-date.p-r-10 09:00
            //  .text-gray Inventory (Tables)











