.wrap-modal
  .modal-content-inventor.modal-content-inventor--small
    .modal-header-inventor
      span.modal-title-inventor Congratulations! You have successfully created your fisrt location and filled it with items.
    .modal-body-inventor.container
      p.list-text.list-text--small Now you can conduct an inventory, schedule tasks, generate reports and use many other functions.
    .modal-footer-inventor
      button.btn.btn-inventor.btn-lime
        img(src="/images/plus.svg" class="header-plus" alt="plus")
        span.title-header-btn Continue

