.wrap-inventory-block.wrap-inventory-block--search
  .wrap-top-row-one-inventory
    ul.list-table
      li
        a
          .text-list Items
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Departments
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Collaborators
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Inventories
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Directories
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Notifiacation
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list Tasks
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
      li
        a
          .text-list History
            button.wrap-row.wrap-row-hov
              svg.svg-down-arrow-black: use(xlink:href="/images/sprite.svg#right-arrow")
    .block-one-invectory-right.pad-0
      table.table-inventor.table-head-search
        thead.table-head
          .wrap-planning-list-header
            span.wrap-planning-list-header-title.p-r-20.bord-r Tasks
            .wrap-planning-list-header-date.p-l-20
              span.wrap-planning-list-header-date-number.p-r-5 13
              span.wrap-planning-list-header-date-day-top results

        tbody

          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
              span Айфон
              | Тайвань

          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title Тайвань
              span Тошиба
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
              span Айва Тайвань
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
              span Хитачи
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
              span Грюндик
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td
              span Грюндик
              | Грюндик
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
              span Грюндик
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
              span Грюндик
              span Грюндик
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
              span Грюндик
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td  Title
          tr
            td(colspan='4')
              svg.svg-cube: use(xlink:href="/images/sprite.svg#cube")
            td
              span Грюндик



      .foot-search
        span.text-gray Displaying 1 to 20 of 235 collaborators
        .ta-r
          button.colaborator-pagination-round-btn.m-r-5
            img(src="/images//left-arrow.svg" class="left-arrow" alt="left")
          span.header-text.m-r-5 Page
          input(type='text',placeholder='1').colaborator-pagination-white-window.m-r-5
          span.header-text.m-r-5 of 4
          button.colaborator-pagination-round-btn
            img(src="/images//right-arrow.svg" class="right-arrow" alt="right")





