.wrap-header
  span.header-title.
    Название в хедере "Заглушка"
  p.header-text
    | Рандомный текст, дабы заполнить строчку
    span 69
    |маленькими буковками и показать наполняемость элемента, а также структуру деталей меню



