.wrap-header.p-t-back
  .wrap-segment-header
    .segment-header--left
      .header-left-block-easy
        button.style-btn-non.pad-0
          svg.svg-arrow-r.svg-arrow-r--gray: use(xlink:href="/images/sprite.svg#left-arrow")
          span.header-search Back
        br
        .df-sb
          span.header-title.t-over-e.
            Inventory on 3rd floor before new year сто пятьдесят тысяч буков
          button.style-btn-non.pad-l-20
            svg.svg-cart: use(xlink:href="/images/sprite.svg#cart-trash")
          button.style-btn-non
            svg.svg-cart: use(xlink:href="/images/sprite.svg#pen-new")
        .df-sb
          p.text-gray.pad-0.
            01.02.2018 - 25.02.2018
          p.text-gray.pad-0.
            Last update: 16.02.2018 by Jack London
        button.button-elips-lime
          span.title-header-btn Start inventory
    .segment-header--round
      .wrap-round-graffic
        .round-lime
          .round-white
    .segment-header.segment-header--long.text-gray
      .d-flex-c.pb-10
        .square-lime.m-r-5
        span.clr-blck Scanned items:
         span.bold.p-l-5 15
      .d-flex-c
        .square-gray.m-r-5
        span.clr-blck All items:
          span.bold.p-l-5 20
    .segment-header.text-gray
      span.pb-10.clr-blck 3nd floor
      span Location
    .segment-header.text-gray
      span.pb-10.clr-blck In progress
      span Status
    .segment-header.segment-header--long.text-gray.t-over-e
      span.pb-10.clr-blck German Germanovich Overtime
      span Assignee
