.wrap-header.p-t-back
  .df-sb.m-b-10
    button.style-btn-non
      svg.svg-arrow-r.svg-arrow-r--gray: use(xlink:href="/images/sprite.svg#left-arrow")
      span.header-search Back
    .d-flex.align-items-center
      button.p-r-10.style-btn-non
        svg.svg-small-icon: use(xlink:href="/images/sprite.svg#pen-new")
      button.p-r-10.style-btn-non
        svg.svg-small-icon: use(xlink:href="/images/sprite.svg#cart-trash")
  .d-flex.align-items-center
    .p-r-30
      img(src="/images/vg.jpg" class="avatar-colaborator" alt="account-avatar")
    .d-flex-c--c.w-100
      .df-sb.bord-b-gray--colab.p-b-10-colaborator
        div
          h1.header-title.
            Evan Howells
          span.text-list.
            Department | Android Development
        .d-flex-c--c.al-i-fl-end.p-t-10
          span.header-text.
            01/02/2017
          span.header-text.
            23 Items
      .df-sb.p-t-10-colaborator
        .w-50
          ul.list-horizont
            li
              span.text-gray-light.
                Phone:
              span.title-mk--light.
                +38 (096) 156-58-96
            li
              span.text-gray-light.
                Birthday:
              span.title-mk--light.
                01/08/1985
            li
              span.text-gray-light.
                Email:
              span.title-mk--light.
                user@jelvix.com
            li
              span.text-gray-light.
                Code:
              span.title-mk--light.
                0072
        .d-flex.align-items-center
          span.text-list.text-list--light.
            Last update: 16/02/2017 by admin

