.wrap-header.p-t-back
  .header-left-block-easy--df-sb
    div.p-r-45
      button.style-btn-non.p-b-15
        svg.svg-arrow-r.svg-arrow-r--gray: use(xlink:href="/images/sprite.svg#left-arrow")
        span.header-search Back
      h1.header-title.
        Apple iMac 21.5" A1418 (MMQA2UA/A)
      button.text-lime.df.style-btn-non
        svg.svg-reload-lime: use(xlink:href="/images/sprite.svg#reload-lime")
        span.m-l-5 Problems history
    .d-fl-cc
      .d-flex.jc-fl-end
        button.p-r-10.style-btn-non
          svg.svg-small-icon: use(xlink:href="/images/sprite.svg#pen-new")
        button.p-r-10.style-btn-non
          svg.svg-small-icon: use(xlink:href="/images/sprite.svg#cart-trash")
      span.text-list.text-list--light Last update: 16/02/2017 by admin




