.wrap-header
  span.header-title.
    Название в хедере "Заглушка"
  p.header-text.m-b-20.
    Рандомный текст, дабы заполнить строчку маленькими буковками и показать наполняемость элемента, а также структуру деталей меню
  div
    button.button-elips-lime.btn-lime-line
      span.title-header-btn Select device


