.wrap-header.pb-0.p-t-back
  .header-left-block-easy--df
    div.p-r-50
      button.style-btn-non.p-b-15.p-l-0
        svg.svg-arrow-r.svg-arrow-r--gray: use(xlink:href="/images/sprite.svg#left-arrow")
        span.header-search Back
      h1.header-title.m-b-0
        Android Department
      p.header-text.
        Department | Android Development
    .df-cc.m-t-20
      .info-block.p-r-50
        .p-r-15
          svg.svg-icon-big: use(xlink:href="/images/sprite.svg#cube-gray")
        .line-h-1
          span.big-number 0
          span.text-list Items
      .info-block
        .p-r-15
          svg.svg-icon-big: use(xlink:href="/images/sprite.svg#people-gray")
        .line-h-1
          span.big-number 23
          span.text-list Collaborators
  .wrap-header-nav
    a(href='#') Items
    a(href='#') Collaborators



