.wrap-inventory-block
  .wrap-top-row-colaborator
    button.btn.btn-inventor.btn-white
      img(src="/images/plus-gray.svg" class="header-plus" alt="plus")
      span.title-header-btn Add collaborator
    button.wrap-row
      img(src="/images/gear.svg" class="gear" alt="gear-icon").m-r-10
      span.custom-text Customize columns
  table.table-inventor
    thead.table-head
      tr
        th(scope='col')
          input(type='checkbox').checkbx-number
        th(scope='col').posr
          button.style-btn-table Name
            img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
        th(scope='col').posr
          button.style-btn-table Position
            img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
        th(scope='col').posr
          button.style-btn-table Phone
            img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
        th(scope='col').posr
          button.style-btn-table Items
            img(src="/images/arrow-down.svg" class="table-filter" alt="filter")
        th(scope='col') Actions
    tbody
      tr
        th(scope='row')
          input(type='checkbox').checkbx-number
        td
          .photo-table
            img(src="/images/face.png" class="face" alt="face")
          span Gennadiy
        td Developer
        td +38 (095) 156-25-63
        td 18 Items
        td
          button.style-btn-non
            img(src="/images/pensil.svg" alt="pensil")
      tr
        th(scope='row')
          input(type='checkbox').checkbx-number
        td
          .photo-table
            img(src="/images/face.png" class="face" alt="face")
          span Jacob
        td Developer
        td +38 (095) 156-25-63
        td 18 Items
        td
          button.style-btn-non
            img(src="/images//pensil.svg"  alt="pensil")
      tr
        th(scope='row')
          input(type='checkbox').checkbx-number
        td
          .photo-table
            img(src="/images/face.png" class="face" alt="face")
          span Larry
        td Developer
        td +38 (095) 156-25-63
        td 18 Items
        td
          button.style-btn-non
            img(src="/images//pensil.svg" alt="pensil")
      tr
        th(scope='row')
          input(type='checkbox').checkbx-number
        td
          .photo-table
            img(src="/images/face.png" class="face" alt="face")
          span Michael
        td Developer
        td +38 (095) 156-25-63
        td 18 Items
        td
          button.style-btn-non
            img(src="/images/pensil.svg"  alt="pensil")
      tr
        th(scope='row')
          input(type='checkbox').checkbx-number
        td
          .photo-table
            img(src="/images/face.png" class="face" alt="face")
          span Shaquille
        td Developer
        td +38 (095) 156-25-63
        td 18 Items
        td
          button.style-btn-non
            img(src="/images//pensil.svg" alt="pensil")
      tr
        th(scope='row')
          input(type='checkbox').checkbx-number
        td
          .photo-table
            img(src="/images/face.png" class="face" alt="face")
          span Zurab
        td Developer
        td +38 (095) 156-25-63
        td 18 Items
        td
          button.style-btn-non
            img(src="/images//pensil.svg" alt="pensil")
      tr
        th(scope='row')
          input(type='checkbox').checkbx-number
        td
          .photo-table
            img(src="/images/face.png" class="face" alt="face")
          span Jimbo
        td Developer
        td +38 (095) 156-25-63
        td 18 Items
        td
          button.style-btn-non
            img(src="/images//pensil.svg" alt="pensil")
    tfoot.table-foot
      tr
        td(colspan='4') Displaying 1 to 20 of 235 collaborators
        td(colspan='2')
          //.wrap-pagination
          .ta-r
            button.colaborator-pagination-round-btn.m-r-5
              img(src="/images//left-arrow.svg" class="left-arrow" alt="left")
            span.header-text.m-r-5 Page
            input(type='text',placeholder='1').colaborator-pagination-white-window.m-r-5
            span.header-text.m-r-5 of 4
            button.colaborator-pagination-round-btn
              img(src="/images//right-arrow.svg" class="right-arrow" alt="right")




